<div id="team">
	
	<% @profiles.each do |profile| %>
		<% if profile.id%2 == 1 %>
			<div class="row">
				<div class="span6 article">
					<h4><%= profile.name %></h4>
					<p><%= profile.position %></p>
					<p><%= profile.email %></p>
				</div>
		<% else %>
				<div class="span6 article">
					<h4><%= profile.name %></h4>
					<p><%= profile.position %></p>
					<p><%= profile.email %></p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>